{% extends 'base.html.twig' %}

{% block title %}Produit!{% endblock %}

{% block body %}
<h1>Liste des produits</h1>
<div class="container d-flex flex-wrap justify-content-center">
    {% for product in products %}
        <div class="card col-5 m-2" >
        <img src="{{ asset('images/' ~ product.image)}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ product.title }}</h5>
            <p class="card-text">Description: {{ product.description }}</p>
            <p class="card-text">Date de parution: {{ product.date_parution }}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
