{% extends 'base.html.twig' %}

{% block body %}

  <div class="col-6 offset-3">
    <h1>Ajouter une voiture</h1>
    <form action="{{ path('auto_new') }}" method="post">
        <div class="mb-1">
            <label for="marque" class="form-label">Marque</label>
            <input type="text" class="form-control" id="marque" name="marque" placeholder="Votre marque ...">
        </div>
        <div class="mb-1">
            <label for="modele" class="form-label">Modéle</label>
            <input type="text" class="form-control" id="modele" name="modele" placeholder="Votre modéle ...">
        </div>
        <div class="mb-1">
            <label for="prix" class="form-label">Prix</label>
            <input type="number" class="form-control" id="prix" name="prix" placeholder="Votre prix ...">
        </div>
        <div class="mb-1">
            <label for="puissance" class="form-label">Puissance</label>
            <input type="number" class="form-control" id="puissance" name="puissance" placeholder="Votre puissance ...">
        </div>
        <div class="mb-1">
            <label for="image" class="form-label">Image</label>
            <input type="url" class="form-control" id="image" name="image" placeholder="//http ...">
        </div>
        <div class="mb-1">
            <label for="pays" class="form-label">Pays</label>
            <input type="text" class="form-control" id="pays" name="pays" placeholder="Votre pays ...">
        </div>
       
        <button type="submit" name="submit" class="btn btn-primary col-12">Soumettre</button>
    </form>
  </div>
{% endblock %}