{% extends 'base.html.twig' %}

{% form_theme formContact 'bootstrap_5_layout.html.twig' %}
{% block body %}
    <div class="col-6">
    {# {{ dump(cars) }} #}
        <h1>Formulaire d'ajout</h1>
        {{ form_start(formContact, {'attr' : {'novalidate':'novalidate'}}) }}
        {{ form_widget(formContact) }}
        <button type="submit" class="btn btn-primary col-12">Envoyer</div>
        {{ form_end(formContact) }}
    </div>
    <div class="col-6"></div>
{%  endblock %}