<form method="get" action="{{ path('auto') }}" class="">
    <div class="col-auto">
        <input type="text" placeholder="Rechercher..." class="" name="search">
        <button type="submit" class="btn btn-secondary">
            <i class="fas fa-search"></i>
        </button>
    </div>
</form>